.navbar{
    color: rgb(8, 19, 70);
    width: 100vw;
    padding: 0.5rem;
}
.navbar-nav{
    display:flex;
    flex-direction: row;
}
.nav-link{
    text-decoration: none;
    color: rgb(7, 8, 48);
    padding: 1rem;
}
.nav-link:hover{
    color: rgb(36, 23, 6);
}
.m_link{
    text-decoration: none;
    color: rgb(3, 4, 26);
}
.secure{
    height: 3rem;
}
