.main{
    display: flex;
    flex-direction: row;
    background-color:#2d2f79;
    height: 30rem;
    width: 100vw;
    padding: 2rem;
    overflow:hidden;
}
.main-description{
    color: white;
    width: 60vw;
    margin: 5rem;
}
.heading{
    font-family: cursive;
}
.image{
    border: 1px;
    border-radius: 15px;
    overflow: hidden;
    margin: 2rem;
    margin-right: 4rem;
    height: 30vh;
    width:40rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}